[submodule "frontends/floatctf-frontend-xzmu"]
	path = frontends/floatctf-frontend-xzmu
	url = https://github.com/FloatCTF/floatctf-frontend-xzmu.git
[submodule "frontends/floatctf-frontend-shadcn"]
	path = frontends/floatctf-frontend-shadcn
	url = https://github.com/FloatCTF/floatctf-frontend-shadcn.git
